/* the container */
.audio11_html5 {
	position: relative;
	width: 100%;
}
.audio11_html5_sticky {
	position: fixed;
	z-index: 999999;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}


.audio11_html5_the_wrapper {
	border-style: solid;
}


.audio11_html5 .AudioPlay {
		position:absolute;
		z-index: 2;
		cursor: pointer;
		display: none;
    width: 30px;
    height: 56px;
    border-top: 28px solid transparent;
    border-left: 30px solid #000;
    border-bottom: 28px solid transparent;
    box-sizing: border-box;
}
.audio11_html5 .AudioPause {
		position:absolute;
		z-index: 2;
		cursor: pointer;
		display: none;
		cursor: pointer;
    width: 30px;
    height: 56px;
    border-right: 12px solid #000;
    border-left: 12px solid #000;
		border-top: 0px;
		border-bottom: 0px;
    box-sizing: border-box;
}

.audio11_html5 .ximg_frame {
	display: none;
	width:103px;
	height: 107px;
	position:absolute;
	z-index: 2;
	background: url(controllers/image_frame.png) no-repeat;
}


.audio11_html5 .thumbsHolderWrapper {
	position:relative;
	margin-top:0px;
	overflow:hidden;
	width: 100%;
}
.audio11_html5 .thumbsHolderVisibleWrapper {
	position:relative;
	width: 100%;
	height:100%;
	overflow:hidden;
	clear:both;

}
.audio11_html5 .thumbsHolder {
	position:absolute;
	text-align:left;
}
/* thumbsOFF */
.audio11_html5 .thumbsHolder_ThumbOFF {
	display:block;
	width: 100%;
	height:81px !important;
	overflow:hidden;
	border-bottom:0px !important;
	border-bottom-color:transparent !important;
	line-height:2.5em !important;
}
.audio11_html5 .thumbsHolder_ThumbOFF  .padding {
	padding:13px 20px 0px 20px;
}
.audio11_html5 .thumbsHolder_ThumbOFF .timex {
	float: left;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	letter-spacing:0.5px;
	font-weight:bold;
	display:inline-block;
	font-size:14px;
	line-height:1.5 !important;
	padding:20px 22px 0px 0px;
	margin:0;
	overflow:hidden;
	display:block;
}
.audio11_html5 .thumbsHolder_ThumbOFF .titlex {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	letter-spacing:0.5px;
	font-weight:normal;
	display:inline-block;
	font-size:18px;
	line-height:1.5 !important;
	padding:0;
	margin:0;
	padding-bottom:0px;
	overflow:hidden;
	display:block;
	border-bottom:1px solid;
	border-bottom-color: transparent;
}
.audio11_html5 .thumbsHolder_ThumbOFF .authorx {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height:2 !important;
	padding:0;
	margin:0;
	overflow:hidden;
	display:block;
	padding-top: 1px;
}
.audio11_html5 .thumbsHolder_ThumbOFF .img_div {
	position:relative;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	width: 55px;
	height: 55px;
	float: left;
	margin-right: 15px;
	margin-left: -5px;
}


.audio11_html5 .thumbsHolder_ThumbON  .padding {
	padding:13px 20px 0px 10px;
}
.audio11_html5 .thumbsHolder_ThumbON .timex {
	padding:20px 20px 0px 0px;
}
.audio11_html5 .thumbsHolder_ThumbON .titlex {
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: uppercase;
	line-height:1.5 !important;
}
.audio11_html5 .thumbsHolder_ThumbON .authorx {
	font-size:15px;
	font-weight: bold;
	line-height:1 !important;
	padding-top: 5px;
}
.audio11_html5 .thumbsHolder_ThumbON .img_div {
	width: 72px;
	height: 72px;
	float: left;
	margin-right: 30px;
	margin-left: -1px;
	margin-top: -8px;
}


/*
==============================================
perspectiveDownZero        Made by Christian Pucci
==============================================
*/
.perspectiveDownZero {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: perspectiveDownZero;
	animation-name: perspectiveDownZero;

	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes perspectiveDownZero {
  0% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(0px) rotateX(0deg);
  }

  100% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(0px) rotateX(-180deg);
  }
}
@keyframes perspectiveDownZero {
  0% {
    transform-origin: 0 100%;
    transform: perspective(0px) rotateX(0deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: perspective(0px) rotateX(-180deg);
  }
}



.audio11_barsContainer {
	display: none;
	position:absolute;
	width: 165px;
	height:60px;
	z-index:1;
	top:50%;
	left:50%;
}


.audio11_bars {
		width: 165px;
    height: 40px;
    margin: 0px 0px 0px 0px;
    position: absolute;
		overflow: hidden;
}



.audio11_bar {
   background: #ffffff;
    bottom: 0px;
    height: 0px;
    position: absolute;
    width: 4px;
}


.audio11_sound {
	-webkit-animation-name: audio11_sound;
	animation-name: audio11_sound;

	-webkit-animation-duration: 0ms;
	animation-duration: 0ms;

	-webkit-animation-delay: -800ms;
	-animation-delay: -800ms;

	-webkit-animation-timing-function: linear;
    animation-timing-function: linear;

	-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
    animation-direction: alternate;

}



@keyframes audio11_sound {
    0% {
       opacity: .90;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 38px;
    }
}



.audio11_sound2 {
	-webkit-animation-name: audio11_sound2;
	animation-name: audio11_sound2;

	-webkit-animation-duration: 0ms;
	animation-duration: 0ms;

	-webkit-animation-delay: -800ms;
	-animation-delay: -800ms;

	-webkit-animation-timing-function: linear;
    animation-timing-function: linear;

	-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

	-webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes audio11_sound2 {
    0% {
       opacity: .10;
        height: 0px;
    }
    100% {
        opacity: .20;
        height: 15px;
    }
}


.audio11_bar:nth-child(1)  { left: 0px; animation-duration: 464ms;}
.audio11_bar:nth-child(2)  { left: 5px; animation-duration: 433ms;}
.audio11_bar:nth-child(3)  { left: 10px; animation-duration: 387ms;}
.audio11_bar:nth-child(4)  { left: 15px; animation-duration: 458ms;}
.audio11_bar:nth-child(5)  { left: 20px; animation-duration: 300ms;}
.audio11_bar:nth-child(6)  { left: 25px; animation-duration: 407ms;}
.audio11_bar:nth-child(7)  { left: 30px; animation-duration: 421ms;}
.audio11_bar:nth-child(8)  { left: 35px; animation-duration: 399ms;}
.audio11_bar:nth-child(9)  { left: 40px; animation-duration: 467ms;}
.audio11_bar:nth-child(10) { left: 45px; animation-duration: 422ms;}

.audio11_bar:nth-child(11) { left: 50px; animation-duration: 515ms;}
.audio11_bar:nth-child(12) { left: 55px; animation-duration: 474ms;}
.audio11_bar:nth-child(13) { left: 60px; animation-duration: 433ms;}
.audio11_bar:nth-child(14) { left: 65px; animation-duration: 407ms;}
.audio11_bar:nth-child(15) { left: 70px; animation-duration: 458ms;}
.audio11_bar:nth-child(16) { left: 75px; animation-duration: 400ms;}
.audio11_bar:nth-child(17) { left: 80px; animation-duration: 427ms;}
.audio11_bar:nth-child(18) { left: 85px; animation-duration: 441ms;}
.audio11_bar:nth-child(19) { left: 90px; animation-duration: 419ms;}
.audio11_bar:nth-child(20) { left: 95px; animation-duration: 487ms;}

.audio11_bar:nth-child(21) { left: 100px; animation-duration: 412ms;}
.audio11_bar:nth-child(22) { left: 105px; animation-duration: 444ms;}
.audio11_bar:nth-child(23) { left: 110px; animation-duration: 403ms;}
.audio11_bar:nth-child(24) { left: 115px; animation-duration: 377ms;}
.audio11_bar:nth-child(25) { left: 120px; animation-duration: 428ms;}
.audio11_bar:nth-child(26) { left: 125px; animation-duration: 370ms;}
.audio11_bar:nth-child(27) { left: 130px; animation-duration: 377ms;}
.audio11_bar:nth-child(28) { left: 135px; animation-duration: 411ms;}
.audio11_bar:nth-child(29) { left: 140px; animation-duration: 399ms;}
.audio11_bar:nth-child(30) { left: 145px; animation-duration: 457ms;}

.audio11_bar:nth-child(31) { left: 150px; animation-duration: 442ms;}
.audio11_bar:nth-child(32) { left: 155px; animation-duration: 474ms;}
.audio11_bar:nth-child(33) { left: 160px; animation-duration: 433ms;}
.audio11_bar:nth-child(34) { left: 165px; animation-duration: 407ms;}
.audio11_bar:nth-child(35) { left: 170px; animation-duration: 458ms;}
.audio11_bar:nth-child(36) { left: 175px; animation-duration: 400ms;}
.audio11_bar:nth-child(37) { left: 180px; animation-duration: 427ms;}
.audio11_bar:nth-child(38) { left: 185px; animation-duration: 441ms;}
.audio11_bar:nth-child(39) { left: 190px; animation-duration: 419ms;}
.audio11_bar:nth-child(40) { left: 195px; animation-duration: 487ms;}

.audio11_bar:nth-child(41) { left: 200px; animation-duration: 442ms;}
.audio11_bar:nth-child(42) { left: 205px; animation-duration: 474ms;}
.audio11_bar:nth-child(43) { left: 210px; animation-duration: 433ms;}
.audio11_bar:nth-child(44) { left: 215px; animation-duration: 407ms;}
.audio11_bar:nth-child(45) { left: 220px; animation-duration: 458ms;}
.audio11_bar:nth-child(46) { left: 225px; animation-duration: 400ms;}
.audio11_bar:nth-child(47) { left: 230px; animation-duration: 427ms;}
.audio11_bar:nth-child(48) { left: 235px; animation-duration: 441ms;}
.audio11_bar:nth-child(49) { left: 240px; animation-duration: 419ms;}
.audio11_bar:nth-child(50) { left: 245px; animation-duration: 487ms;}

.audio11_bar:nth-child(51) { left: 250px; animation-duration: 442ms;}
.audio11_bar:nth-child(52) { left: 255px; animation-duration: 474ms;}
.audio11_bar:nth-child(53) { left: 260px; animation-duration: 433ms;}
.audio11_bar:nth-child(54) { left: 265px; animation-duration: 407ms;}
.audio11_bar:nth-child(55) { left: 270px; animation-duration: 458ms;}
.audio11_bar:nth-child(56) { left: 275px; animation-duration: 400ms;}
.audio11_bar:nth-child(57) { left: 280px; animation-duration: 427ms;}
.audio11_bar:nth-child(58) { left: 285px; animation-duration: 441ms;}
.audio11_bar:nth-child(59) { left: 290px; animation-duration: 419ms;}
.audio11_bar:nth-child(60) { left: 295px; animation-duration: 487ms;}

.audio11_bar:nth-child(61) { left: 300px; animation-duration: 442ms;}
.audio11_bar:nth-child(62) { left: 305px; animation-duration: 474ms;}
.audio11_bar:nth-child(63) { left: 310px; animation-duration: 433ms;}
.audio11_bar:nth-child(64) { left: 315px; animation-duration: 407ms;}
.audio11_bar:nth-child(65) { left: 320px; animation-duration: 458ms;}
.audio11_bar:nth-child(66) { left: 325px; animation-duration: 400ms;}
.audio11_bar:nth-child(67) { left: 330px; animation-duration: 427ms;}
.audio11_bar:nth-child(68) { left: 335px; animation-duration: 441ms;}
.audio11_bar:nth-child(69) { left: 340px; animation-duration: 419ms;}
.audio11_bar:nth-child(70) { left: 345px; animation-duration: 487ms;}

.audio11_bar:nth-child(71) { left: 350px; animation-duration: 412ms;}
.audio11_bar:nth-child(72) { left: 355px; animation-duration: 444ms;}
.audio11_bar:nth-child(73) { left: 360px; animation-duration: 403ms;}
.audio11_bar:nth-child(74) { left: 365px; animation-duration: 377ms;}
.audio11_bar:nth-child(75) { left: 370px; animation-duration: 428ms;}
.audio11_bar:nth-child(76) { left: 375px; animation-duration: 370ms;}
.audio11_bar:nth-child(77) { left: 380px; animation-duration: 377ms;}
.audio11_bar:nth-child(78) { left: 385px; animation-duration: 411ms;}
.audio11_bar:nth-child(79) { left: 390px; animation-duration: 399ms;}
.audio11_bar:nth-child(80) { left: 395px; animation-duration: 457ms;}

.audio11_bar:nth-child(81) { left: 400px; animation-duration: 412ms;}
.audio11_bar:nth-child(82) { left: 405px; animation-duration: 444ms;}
.audio11_bar:nth-child(83) { left: 410px; animation-duration: 403ms;}
.audio11_bar:nth-child(84) { left: 415px; animation-duration: 377ms;}
.audio11_bar:nth-child(85) { left: 420px; animation-duration: 428ms;}
.audio11_bar:nth-child(86) { left: 425px; animation-duration: 370ms;}
.audio11_bar:nth-child(87) { left: 430px; animation-duration: 377ms;}
.audio11_bar:nth-child(88) { left: 435px; animation-duration: 411ms;}
.audio11_bar:nth-child(89) { left: 440px; animation-duration: 399ms;}
.audio11_bar:nth-child(90) { left: 445px; animation-duration: 457ms;}

.audio11_bar:nth-child(91) { left: 450px; animation-duration: 442ms;}
.audio11_bar:nth-child(92) { left: 455px; animation-duration: 474ms;}
.audio11_bar:nth-child(93) { left: 460px; animation-duration: 433ms;}
